---
layout: default
---

<div class="home">
  
  <div class="home-section">
  {{ content }}
  </div>
  
  <hr>
  
  <div class="home-section">
    <h1 class="red-headline">Checkout our latest post / meetup 👇🏼</h1>
  </div>
  <div class="home-section">
    <ul class="post-list">
      {% assign currentYear = site.time | date: "%Y" %}
      {% for post in site.posts limit:1 %}
        {% assign postYear = post.date | date: "%Y" %}
        {% if postYear == currentYear %}
          <li>
            <h2>{{ post.title }}</h2>
            <div class="post-content">
              {{ post.content }}
            </div>
          </li>
        {% endif %}
      {% endfor %}
    </ul>   
    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  </div>
  
  <hr>
  
  <div class="home-section">
    <h2 class="red-headline">Older posts</h2>
    <ul class="post-list abbreviated">
      {% assign currentYear = site.time | date: "%Y" %}
      {% for post in site.posts offset:1 %}
        {% assign postYear = post.date | date: "%Y" %}
        {% if postYear == currentYear %}
          <li>
              <p><a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></p>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
  
  <div class="home-section">
    <h2 class="red-headline">Archive</h2>
    <ul class="post-list abbreviated">
      {% assign currentYear = site.time | date: "%Y" %}
      {% for post in site.posts %}
        {% assign postYear = post.date | date: "%Y" %}
        {% if postYear != currentYear %}
          <li>
              <p><a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></p>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>

</div>
