---
layout: default
---

<div class="home">
  
  {{ content }}

  <ul class="post-list">
    {% for post in site.posts limit:5 %}
        <li>
          <h2>{{ post.title }}</h2>
          <div class="post-meta">
            {{ post.date | date: "%-d.%-m.%-Y" }}
          </div>
          <div class="post-content">
            {{ post.content }}
          </div>

        </li>
    {% endfor %}
  </ul>
  <h1>Older posts</h1>
  <ul class="post-list abbreviated">
    {% for post in site.posts offset:5 %}
        <li>
          <h2>
            <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
          </h2>
          <div class="post-meta">
            {{ post.date | date: "%-d.%-m.%-Y" }}
          </div>
        </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
